ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6rem;
        color: var(--clr-grey500);
        font-weight: var(--fw-medium);

        &:hover{
            cursor: pointer;
            color: var(--clr-grey950);
        }
    }
}

.company-drop {
    position: relative;
}

@media screen and (min-width: 40rem) {
    ul{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: clamp(1.5rem, 5vw, 2.5rem);
        list-style: none;

        li{
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
    }
}